<!DOCTYPE html>
<html>
  <head>
    <title>SF Movie Locations</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'movie_locations/style.css' %}" />

  </head>

  <body>

    <div id="floating-panel">
      <input id="search_text" type="textbox" value="Search by movie title">
      <input id="submit" type="button" value="Geocode">
    </div>

    <div id="map"></div>

    <script src="{% static 'movie_locations/script.js' %}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC4vqjP45FO5P9B1m459vpqHrC4XW72SDs&callback=initMap"
        async defer></script>

  </body>
</html>