html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Helvetica', 'sans-serif';
}
#map {
  height: 100%;
}
#floating-panel {
  position: absolute;
  top: 0px;
  z-index: 5;
  text-align: center;
  width: 100%;
}

#search_bar {
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  background-color: rgba(45, 62, 80, 0.8);
  color: #fff;
}

#message_bar {
  width: 100%;
  background-color: rgba(31, 141, 214, 0.8);
  color: #fff;
  padding-top: 10px;
  padding-bottom: 10px;
  display: none;
}

#selected_movies {
  background-color: rgba(45, 62, 80, 0.8);
  height: 160px;
  margin-bottom: 0;
  position: absolute;
  z-index: 10;
  bottom: 0;
  width: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
}

ul.movie_list {
  list-style-type: none;
  width: 1500px;
  padding-left: 0px;
  margin: 0 auto;
  color: #fff;
}

ul.movie_list li {
  display: inline-table;
  padding: 5px;
  padding-right: 0px;
  opacity: 1.0;
  position: relative;
}

.movie_poster {
  padding-top: 10px;
}

.red_border {
  border: 4px solid #F7584C;
}

.blue_border {
  border: 4px solid #6991FD;
}

.delete {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  font-size: 1.7em;
  color: #fff;
}

input[type="text"] {
  font-size: 14px;
  width: 50%;
  padding: 10px;
  border: none;
  border-bottom: solid 3px #c9c9c9;
  transition: border 0.3s;
}

input[type="text"]:focus {
  border-bottom: solid 3px #969696;
}

input[type="button"] {
  color: #fff;
  background-color: #6496c8;
  border: 0;
  border-bottom: solid 4px #27496d;
  font-size: 14px;
  padding: 10px;
  -webkit-appearance: none;
}

input[type="button"]:hover {
  background-color: #417cb8
}

input[type="button"]:active {
  background-color: #417cb8;
}

.ui-autocomplete, .ui-menu {
    background: #fff;
    font-size:14px;
    font-family: 'Helvetica', 'sans-serif';
    width: 50%;
    max-height: 400px; 
    overflow-y: auto; 
    overflow-x: hidden;
}

.ui-menu-item {
  padding: 10px;
}

@media screen and (max-width: 500px) {
  #selected_movies {
    height: 100px;
  }
  #selected_movies img {
    height: 85px;
    width: 57px;
  }
}